# Ignore virtual environments
env/
.env/
venv/

# Ignore Python byte code cache
*.pyc
__pycache__
.cache/

# Ignore coverage reports
.coverage
reports/

# Ignore build results
*.egg-info/
dist/
build/
pip-wheel-metadata

# Ignore stupid .DS_Store
.DS_Store

# Ignore PyCharm
.idea/

# Ignore tox environments
.tox/
